<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tester7">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_frenchicon3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tester7">
        <activity
            android:name=".MainActivity19"
            android:exported="false" />
        <activity
            android:name=".MainActivity18"
            android:exported="false" />
        <activity
            android:name=".MainActivity17"
            android:exported="false" />
        <activity
            android:name=".MainActivity16"
            android:exported="false"
            android:label="Days/Month" />
        <activity
            android:name=".MainActivity15"
            android:exported="false"
            android:label="Bed Room" />
        <activity
            android:name=".MainActivity14"
            android:exported="false"
            android:label="Sitting Room" />
        <activity
            android:name=".MainActivity13"
            android:exported="false"
            android:label="Time Expressions" />
        <activity
            android:name=".MainActivity12"
            android:exported="false"
            android:label="Wild Animals" />
        <activity
            android:name=".MainActivity11"
            android:exported="false"
            android:label="Domestic Animals" />
        <activity
            android:name=".MainActivity10"
            android:exported="false"
            android:label="Directions" />
        <activity
            android:name=".MainActivity9"
            android:exported="false"
            android:label="Numbers" />
        <activity
            android:name=".MainActivity8"
            android:exported="false"
            android:label="Food" />
        <activity
            android:name=".MainActivity7"
            android:exported="false"
            android:label="Physical Description" />
        <activity
            android:name=".MainActivity5"
            android:exported="false"
            android:label="Family" />
        <activity
            android:name=".MainActivity6"
            android:exported="false"
            android:label="Stationary" />
        <activity
            android:name=".MainActivity4"
            android:exported="false"
            android:label="Colors" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="Fruits" />
        <activity
            android:name=".MainActivity3"
            android:exported="false"
            android:label="Greetings" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">

            <!-- enable the search dialog to send searches to SearchableActivity -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>